# Ignore Gradle project-specific cache directory
.gradle
**/build/
!src/**/build/
caches
daemon
native
notifications
app/out/

# Ignore Gradle build output directory
build

# dependencies
/node_modules
/.pnp
.pnp.js

# VS Code
.vscode

# Intellij IDEA
.idea

# macOS
.DS_Store

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# testing
/coverage

# production
/build